@font-face {
  font-family: "iconfont"; /* Project id 4258595 */
  src: url('iconfont.woff2?t=1695103313176') format('woff2'),
       url('iconfont.woff?t=1695103313176') format('woff'),
       url('iconfont.ttf?t=1695103313176') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-button:before {
  content: "\e690";
}

.icon-input:before {
  content: "\e619";
}

.icon-text:before {
  content: "\e653";
}

